---
title: About me
---
{% extends "layouts/base.njk" %}
{% block body %}
     <h2>About me</h2>
     <p><div><div class="glitch" data-glitch="Cybersecurity">Cybersecurity</div> researcher, programmer and webdeveloper. Currently working at <a href="https://www.stmcyber.pl/" style="color: #F8BF1F;text-decoration: none;" rel="noreferrer"><img src="/img/stmcyber.jpg" style="width: 20px;vertical-align: middle;"/>STM Cyber</a>.</div></p>

     <i class="fa-solid fa-envelope"></i> Email: <a href="mailto:me@adikso.net">me@adikso.net</a> <a href="/public.asc" style="text-decoration: none">(Public key 🔐)</a><br/>
     <i class="fa-brands fa-github"></i> Github: <a href="https://github.com/Adikso">https://github.com/Adikso</a><br/>
     <i class="fa-brands fa-mastodon"></i> Mastodon: <a href="https://mastodon.online/@adikso">https://mastodon.online/@adikso</a><br/>
     <i class="fa-brands fa-x-twitter"></i> X (Twitter): <a href="https://twitter.com/adikso4">https://twitter.com/adikso4</a>

     <h2>Competitions & Awards</h2>
     <ul>
          <li>10.2023 - Capture The Flag <u>"Pwn The Rover"</u> run by European Space Agency - First place as a team </li>
          <li>07.2023 - Capture The Flag qualifications for <u>European Cyber Security Challenge (ECSC)</u> - Sixth place 😔
          <li>11.2021 - Capture The Flag run by <u>Polish Foreign Intelligence Agency</u> - Fifth place as a team
          <li>04.2021 - Capture The Flag run by <u>Polish Foreign Intelligence Agency</u> - Fifth place</li>
          <li>10.2019 - Capture The Flag during Hackyeah run by <u>Polish Ministry of National Defence</u> - First Place</li>
          <li>09.2018 - Capture The Flag during Hackyeah run by <u>Polish Ministry of National Defence</u> - Third Place</li>
     </ul>

     <h2>CVEs</h2>
     <ul>
          <li><a href="https://www.cve.org/CVERecord?id=CVE-2024-5634">CVE-2024-5634</a> <span style="color: orange;">(8.6)</span> - Easy to bruteforce telnet passwords, common per firmware version</li>
          <li><a href="https://www.cve.org/CVERecord?id=CVE-2024-5633">CVE-2024-5633</a> <span style="color: orange;">(7.5)</span> - Arbitary Read/Write via undocumented binary service</li>
          <li><a href="https://www.cve.org/CVERecord?id=CVE-2024-5631">CVE-2024-5631</a> <span style="color: yellow;">(6.0)</span> - Sending credentials to the remote control service without any encryption</li>
          <li><a href="https://www.cve.org/CVERecord?id=CVE-2024-5632">CVE-2024-5632</a> <span style="color: yellow;">(5.3)</span> - Default password for the internal WIFI network</li>
     </ul>
{% endblock %}
