<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#333333"/>

    <title>{{ title }} | Adikso Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bullshit.css">
    <link rel="stylesheet" href="/css/print.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
<header>
    <ul class="nav-menu">
        <li><a href="/"><img class="logo" src="/img/avatar.png"/></a></li>
        <li><a href="/">Blog</a></li>
        <li style="flex: 1"><a href="/about">About me</a></li>
        <li class="hide-mobile"><a href="https://mastodon.online/@adikso"><i class="fa-brands fa-mastodon"></i></a></li>
        <li class="hide-mobile"><a href="https://twitter.com/adikso4"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li class="hide-mobile"><a href="https://github.com/Adikso"><i class="fa-brands fa-github"></i></a></li>
        <li class="hide-mobile"><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
</header>

{% block body %}
Empty
{% endblock %}
</body>
</html>